body{     
    width:760px;
    height:600px;
	margin: 0;                   
    padding: 0;                   
	text-align: center;           
	font: 15px Arial,宋体;
    background-image:url(http://1.ineedu.sinaapp.com/image/background.jpg);
}

ul,li{
    list-style-type:none;
}

div#headwrap{
    width:760px;
    height:56px;
    padding:0px;
    margin:0px;
    border:0px;
    background-color:#333333;
    overflow: hidden;
    border-bottom: #d6d6d6 0px solid;
}
div.head{
    background-color:#333333;
    overflow: hidden;
    width:750px;    
    height:30px;
	margin: 13px 5px 13px 5px;
    padding: 0px;
    display: block;
    clear: both;
    text-align: left;
}
div.head-nav{
    width:610px;
    height:30px;
    float:left;
}
div#container{  
	width:758px;    
    height:598px;
	margin:0 auto;
    border:1px solid #DBDBD0;
}

.gap {                          
	float:left;                  
	height:5px;            
	width:100%;                  
	overflow:hidden;             
	clear:both;    
} 
div.head-nav ul.head-nav-menu{
    float:left;
    list-style:none;
    width:610px;
    height:30px;
    margin:0;
    padding:0;
    overflow:hidden;
}

div.head-nav ul.head-nav-menu li{
    float:left;
}

div#content{
    position:absolute;
    top:68px;
    float:left;
    width:756px;
    height:530px;
    /*border:1px solid #DBDBD0;*/
    overflow:overlay;
}

/************************登录界面***************************/
#frm_login{
    position:absolute;
    width:250px;
    height:300px;
    top:80px;
    border:1px solid #DBDBD0;
    background-color:#ffffff;
}

/************************许愿界面***************************/
#w_content{
    margin:0 auto;
    clear: both;
    display: block;
    overflow: hidden;
    width:498px;
    height:528px;
}

/******************支付界面*******************/
#frm_pay{
    position:absolute;
    width:250px;
    height:300px;
    top:80px;
    border:1px solid #DBDBD0;
    background-color:#ffffff;
}
/******************获取支付宝帐号*******************/
.ali-account{
    position:absolute;
    top:150px;
    left:250px;
    width:260px;
    height:200px;
}

.ali-account label{
    width:260px;
    height:35px;
    line-height:35px;
    float:left;
    text-align:left;
}

.ali-account .input-t{
    width:200px;
    height:22px;
    padding:3px 2px 0;
    margin:3px 0;
    border:2px solid #BEBEBE;
    float: left;
}

.ali-account .input-s{
    margin:5px auto;
    width:208px;
    height:25px;
    float: left;
}

.ali-account .input{
    width:260px;
    height:35px;
    line-height:35px;
    float:left;
    text-align:left;
}
/********************已支付的*********************/
.changeaccount{
    width:120px;
    height:30px;
    line-height:30px;
    position:absolute;
    left:640px;
}
/********************首页************************/
div.wish-one{
    width:600px;
    height:120px;
    margin:10px 35px;
    padding:5px;
    border:1px solid #DBDBD0;
    color:#333333;
}

div.wish-one ul{
    width:100%;
    height:120px;
    padding:0;
    margin:0;
}

/*div.wish-list ul li,div.wish-list a,div.wish-one ul li{
    display: block;
    clear: both;
}*/

div.wish-one a img,div.myfrds-one a img{
    width:50px;
    height:50px;
}

.wish-usrimg{
    width:50px;
    height:50px;
    float:left;
    margin: 15px;
}

.wish-usrname{
    width:150px;
    height:30px;
    line-height:30px;
    float:left;
    padding:0;
    text-align:left;
    position: relative;
    top: 75px;
    left: -65px;
}

.wish-name,.wish-info{
    width:420px;
    height:20px;
    line-height:20px;
    margin: 0 0 0 180px;
    text-align:left;
}
/**********************我的愿望**********************/
.mywish-one{
    width: 500px;
    height: 160px;
    border: 1px solid #DBDBD0;
    margin: 10px 148px 10px 88px;
}

.mywish-one ul{
    width:500px;
    height:160px;
    margin:0;
    padding:5px 10px;
}

.mywish-one li{
    width:100%;
    height:25px;
    line-height:25px;
    text-align:left;
    color:#333333;
}

/**********************我支付的************************/
.ipayed-one{
    width:250px;
    height:150px;
    border: 1px solid #DBDBD0;
    color:#333333;
    margin: 10px 45px;
    text-align:left;
    float:left;
}
/***********************我关注的************************/
.myfrds-one{
    width:105px;
    height:85px;
    color:#333333;
    float:left;
}

/***********************首页搜索*********************
.head-nav-search{
    height:30px;
    width:100px;
    margin:0;
    padding:0;
    float:right;
}*/
